%tr{ class: "#{row_color}" }
  %td
    = client.id
  %td
    = client.version  
    - if client.preview?
      %span.label.label-info preview
  %td
    = client.last_username
    %span.label.label-default
      = time_ago_in_words(client.audit_update_date)
      ago
  %td
    = link_to "details", "/clients/#{client.id}"
